@page "/grid"
@inject HttpClient Http
@using Microsoft.AspNetCore.Components.QuickGrid 
@using BlazorApplicationInsights
@using BlazorApplicationInsights.Interfaces
@using BlazorApplicationInsights.Models
@using System.Web


<h1>Find your MS Learn link</h1>

<p>What link are you looking for?</p>

@if (links == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div >
        <input @bind-value="SearchText" @bind-value:event="oninput" placeholder="Search" />
    </div>

    <div class="table">
        <QuickGrid Items="@queryablelinks">
            <TemplateColumn Title="Title" Sortable="true" SortBy="@templateSort">
                <a href="./grid?product=@context.Product">
                    <img height="30" width="30" class="flag" src="@(context.Image)" />
                </a>
                <a href="@context.Url" target="_blank">
                     @(context.Title)
                </a>
            </TemplateColumn>
            <PropertyColumn Property="@(p => p.Type)" Sortable="true" />
            <PropertyColumn Property="@(p => p.Category)" Sortable="true" />
        </QuickGrid>
    </div>
}


@code {
    
    [Inject] private IApplicationInsights AppInsights { get; set; }

    [Parameter]
    [SupplyParameterFromQuery(Name = "product")] 
    public string? Product { get; set; }
    @* public string? Product { get; set; } = ""; *@

    private Link[]? links;
    GridSort<Link> templateSort = GridSort<Link>.ByAscending(p => p.Title);
    public string SearchText = "";

    protected override async Task OnInitializedAsync()
    {
        @* await base.OnInitializedAsync();
        
        @inject NavigationManager Navigation
 
        var uri = new Uri(Navigation.Uri);
        
        var q = uri.Query;
        string? param = HttpUtility.ParseQueryString(q).Get("product");
        if (param != null)
        {
            Product = param;
        }  *@

        links = await Http.GetFromJsonAsync<Link[]>("data/links.json");
        await AppInsights.TrackEvent(new EventTelemetry() { Name = "Home initialized" });
    }

    @* public async override Task SetParametersAsync(ParameterView parameters)
    {
        await base.SetParametersAsync(parameters);
        if (Product == null)
        {
            Product = "";
        }
    }  *@
    Link[]? productlinks => links?.Where(
        f => f.Title?.Contains(Product, StringComparison.OrdinalIgnoreCase) ?? false).ToArray();

    Link[]? filteredlinks => productlinks?.Where(
        f => f.Title?.Contains(SearchText, StringComparison.OrdinalIgnoreCase) ?? false).ToArray();

    IQueryable<Link>? queryablelinks => filteredlinks?.AsQueryable();
}
